doctype html
html
  head
    style.
        body {
          text-align: center;
          font-family: Arial, Helvetica, sans-serif;
        }
    title EPIC Email
  body
    block content
    br
    hr
    footer
      p copyright &copy; 2019
