/* body{
  background: #eeeeee;
  height: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
} */

html, body {
  background: #eeeeee;
  height: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.container{
  width: 360px;
  height: 600px;
  border-radius: 12px;
  z-index: -1;
  background: url(../img/mail.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.div-form{
  padding-top: 70px;
}

.container h1{
  font-weight: bold;
  background-color:#616161;
  opacity: .7;
  font-size: 40px;
  margin-top: 125px;
  margin-bottom: 60px;
}

.tbox{
  width: 260px;
  height: 40px;
  background: #fafafa;
  color: black;
  border-radius: 10px;
  margin: 10px auto;
}

.tbox input{
  background: none;
  border: none;
  outline: none;
  text-align: center;
  width: 90%;
  line-height: 37px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: black;
}

.btn{
  width: 260px;
  height: 40px;
  background: #01579b;
  color: #fff;
  border-radius: 10px;
  margin: 10px auto;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

a{
  text-decoration: none;
}

.container-profile {
  margin-left: 80px;
}

.container-profile p {
  font-family: "Roboto", sans-serif;
  color: #757575;
}

.container-profile span {
  color: #0277bd;
  font-size: 20px;
}

.Reset {
  color: blue !important;
  font-size: 20px;
}

hr.style-one {
  border: 0;
  height: 1px;
  background: #212121;
  background-image: -webkit-linear-gradient(left, #616161, #616161, #616161);
  background-image: -moz-linear-gradient(left, #616161, #616161, #616161);
  background-image: -ms-linear-gradient(left, #616161, #616161, #616161);
  background-image: -o-linear-gradient(left, #616161, #616161, #616161);
}

.b1{
  display: block;
  font-size: 16px;
  /* margin-top: 90px; */
  /* padding: 80px 0; */
  text-decoration: center;
  color: #fff;
  font-weight: bold;
  transition: 0.4s all;
  text-decoration: none;
}

.text-p{
  font-size: 23px;
  font-weight: bold;
  padding-top: 30px;
}

.b2{
  position: absolute;
  bottom: 150px;
  font-weight: bold;
  left: 50%;
  transform: translate(-50%);
  width: 260px;
  padding: 10px 0;
  text-decoration: center;
  transition: 0.4s all;
  color: #81d4fa;
  text-decoration: none;

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
}
::-moz-placeholder { /* Firefox 19+ */
  color: black;
}
:-ms-input-placeholder { /* IE 10+ */
  color: black;
}
:-moz-placeholder { /* Firefox 18- */
  color: black;
}

.title{
  text-align: center;
  color: #757575;
}


.navbar {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

.link-color{
  color: black !important;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding-top: 20px;
  /* padding: 18px 18px; */
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #0277bd;
  color: #fff;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.link-right-position {
  float: right;
  font-size: 17px;
}

header.topbar {
  background-color: #f8f6f6;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}

.header-one{
  padding-top: 70px;
  text-align: center;
}

.email-img-resize{
  height: 60px;
}

.icon{
  float: left;
  padding: 25px 20px;
  line-height: 120px;
}

.text-ellipsis{
  white-space: nowrap;
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.view-mail{
  background-color: #00c853;
  border: 1px solid  #00c853;
  border-radius: 5px;
  padding: 12px 12px;
  font-size: 14px;
  color: #fff;
  /* float: right; */
  cursor: pointer;
  outline: none;
}

.delete-mail{
  background-color: #c62828;
  border: 1px solid  #c62828;
  border-radius: 5px;
  padding: 12px 12px;
  font-size: 14px;
  color: #fff;
  /* float: right; */
  cursor: pointer;
  outline: none;
}

.draft-text{
  color: #e57373;
  font-size: 20px;
}

 .container2{
  width: 96% !important;
  margin: 20px auto !important;
  box-sizing: border-box !important;
}

.content{
  padding-top: 10px;
  padding-bottom: 30px;
}

.email{
  width: 48%;
  float: left;
  background: #fff;
  margin: 5px;
}


.container3 .btn-holder {
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.img-right{
  float: right;
}

.button-compose-email{
    background-color: #039be5;
    color: #fff;
    padding: 12px 30px;
    border-radius: 40px;
    border: 2px solid  #039be5;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    bottom: 5px;
    cursor: pointer;
    outline: none;
}

.plus-icon{
 position: relative;
 top: 2px;
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}


.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #e3f2fd;
}

textarea{
  ;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn-new {
  background-color: #0d47a1;
  color: white;
  padding: 18px;
  border: none;
  cursor: pointer;
  width: 20%;
}

#my-field::placeholder{
  color: black;
}

 .form-draft{
   padding-top: 120px;
   max-width: 500px;
   margin: auto;
 }

 .list-group{
   padding-top: 120px;
   max-width: 850px;
   margin: auto;
 }

 .right-members{
   float: right;
   color: #4caf50;
 }

 .group-text-center{
   text-align: center;
 }

.form-new-message{
  max-width: 500px;
  margin: auto;
}

.btn:hover {
  opacity: 1;
}

textarea {
  resize: none;
  text-align: left;
}

.container3{
  max-width: 800px;
  padding-top: 80px;
  margin: auto;
}

.text-email{
  line-height: 30px;
}

.footer {
  clear: both;
  position: relative;
  height: 40px;
  margin-top: -40px;
  padding: 1rem;
  text-align: center;
}

.footer22 {
  clear: both;
  position: relative;
  height: 40px;
  margin-top: -40px;
  padding: 1rem;
  text-align: center;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 60px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

.text-modal{
  text-align: center;
}

.dropdown-content > a{
  cursor: pointer;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.form_ask_question {
  position: relative;
  z-index: 1;
  background: #fff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 35px;
  text-align: center;
}

.form_ask_question textarea {
  font-family: "Roboto", sans-serif;
  outline: 1;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form_ask_question input {
  font-family: "Roboto", sans-serif;
  outline: 1;
  background: #f2f2f2;
  color: black;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form_ask_question button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #01579b;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
}

/* @media screen and (min-width: 20em) and (max-width: 30em) {
  .email {
      width: calc(50% - 0.5em);
  }
  .email:first-child {
      width: 100%;
  }
  .email:nth-of-type(2n+2) {
      margin-right: 1em;
  }
}

@media screen and (min-width: 30em) {
  .email {
      width: 25%;
  }
  .email:first-of-type {
      width: calc(75% - 1em);
      margin-right: 1em;
  }
} */


.nav {
  height: 50px;
  width: 100%;
  background-color: #f5f5f5;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 17px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) + .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked + .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}


@media only screen and (max-width: 768px) {
 .title {
   display: none !important;
 }
 .link-right-position, a{
   float: left !important;
   font-size: 15px !important;
 }

 .dropdown .dropbtn {
   font-size: 16px;
   border: none;
   outline: none;
   color: black;
   padding: 5px 5px;
   padding-top: 18px;
   background-color: inherit;
   font-family: inherit;
   margin: 0;
 }
 #grid-div{
  width: 100% !important;
 }

 #email1{
     width: 100% !important;
 }
 #email2{
     width: 100% !important;
 }
 #email3{
     width: 100% !important;
 }
 #email4{
     width: 100% !important;
 }
 #email5{
     width: 100% !important;
 }

 .view-mail{
   margin-bottom: 30px !important;
 }

 .email{
   width: 48%;
   float: left;
   background: #fff;
   margin: 0px;
   margin-bottom: 15px;
 }

 .container3{
   margin: 20px;
 }

 .style-form{
   margin: 14px;
 }

 .form-draft{
    padding-top: 90px;
    max-width: 500px;
    margin: auto;
  }

  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .list_group{
    margin: 12px;
  }

  .list-group{
    padding-top: 70px;
    max-width: 850px;
    margin: auto;
  }

  .form-new-message{
    margin: 15px;
  }
}

.new-message{
  margin-top: 40px;
}
