body{
  background: #eeeeee;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.container{
  width: 360px;
  height: 600px;
  border-radius: 12px;
  z-index: -1;
  background: url(../img/mail.jpg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.div-form{
  padding-top: 140px;
}

.container h1{
  font-weight: bold;
  background-color:#616161;
  opacity: .7;
  font-size: 40px;
  margin-top: 125px;
  margin-bottom: 60px;
}

.tbox{
  width: 260px;
  height: 40px;
  background: #fafafa;
  border-radius: 10px;
  margin: 10px auto;
}

.tbox input{
  background: none;
  border: none;
  outline: none;
  text-align: center;
  width: 90%;
  line-height: 37px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #fff;
}

.btn{
  width: 260px;
  height: 40px;
  background: #01579b;
  color: #fff;
  border-radius: 10px;
  margin: 10px auto;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

a{
  text-decoration: none;
}

.container-profile {
  margin-left: 80px;
}

.container-profile p {
  font-family: "Roboto", sans-serif;
  color: #757575;
}

.container-profile span {
  color: #0277bd;
  font-size: 20px;
}

.Reset {
  color: blue !important;
  font-size: 20px;
}

hr.style-one {
  border: 0;
  height: 1px;
  background: #212121;
  background-image: -webkit-linear-gradient(left, #616161, #616161, #616161);
  background-image: -moz-linear-gradient(left, #616161, #616161, #616161);
  background-image: -ms-linear-gradient(left, #616161, #616161, #616161);
  background-image: -o-linear-gradient(left, #616161, #616161, #616161);
}

.b1{
  display: block;
  font-size: 16px;
  margin-top: 90px;
  /* padding: 80px 0; */
  text-decoration: center;
  color: #fff;
  font-weight: bold;
  transition: 0.4s all;
  text-decoration: none;
}

.b2{
  position: absolute;
  bottom: 150px;
  font-weight: bold;
  left: 50%;
  transform: translate(-50%);
  width: 260px;
  padding: 10px 0;
  text-decoration: center;
  transition: 0.4s all;
  color: #81d4fa;
  text-decoration: none;

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
}
::-moz-placeholder { /* Firefox 19+ */
  color: black;
}
:-ms-input-placeholder { /* IE 10+ */
  color: black;
}
:-moz-placeholder { /* Firefox 18- */
  color: black;
}

.title{
  text-align: center;
  color: #757575;
}


.navbar {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 20px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #0277bd;
  color: #fff;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.link-right-position {
  float: right;
  font-size: 17px;
}

header.topbar {
  background-color: #f8f6f6;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}

.header-one{
  padding-top: 70px;
  text-align: center;
}

.email-img-resize{
  height: 60px;
}

.icon{
  float: left;
  padding: 25px 20px;
  line-height: 120px;
}

.text-ellipsis{
  white-space: nowrap;
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.view-mail{
  background-color: #00c853;
  border: 1px solid  #00c853;
  border-radius: 5px;
  padding: 12px 12px;
  font-size: 14px;
  color: #fff;
  /* float: right; */
  cursor: pointer;
  outline: none;
}

.delete-mail{
  background-color: #c62828;
  border: 1px solid  #c62828;
  border-radius: 5px;
  padding: 12px 12px;
  font-size: 14px;
  color: #fff;
  /* float: right; */
  cursor: pointer;
  outline: none;
}

.draft-text{
  color: #e57373;
  font-size: 20px;
}

 .container2{
  width: 96% !important;
  margin: 20px auto !important;
  box-sizing: border-box !important;
}

.content{
  padding-top: 10px;
  padding-bottom: 30px;
}

.email{
  width: 48%;
  float: left;
  background: #fff;
  margin: 5px;
}


.container3 .btn-holder {
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.img-right{
  float: right;
}

.button-compose-email{
    background-color: #039be5;
    color: #fff;
    padding: 12px 30px;
    border-radius: 40px;
    border: 2px solid  #039be5;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    bottom: 5px;
    cursor: pointer;
    outline: none;
}

.plus-icon{
 position: relative;
 top: 2px;
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}


.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #e3f2fd;
}

textarea{
  ;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn-new {
  background-color: #0d47a1;
  color: white;
  padding: 18px;
  border: none;
  cursor: pointer;
  width: 20%;
}

#my-field::placeholder{
  color: black;
}

 .form-draft{
   padding-top: 120px;
   max-width: 500px;
   margin: auto;
 }

.form-new-message{
  max-width: 500px;
  margin: auto;
}

.btn:hover {
  opacity: 1;
}

textarea {
  resize: none;
  text-align: left;
}

.container3{
  max-width: 800px;
  padding-top: 80px;
  margin: auto;
}

.text-email{
  line-height: 30px;
}

.footer {
  clear: both;
  position: relative;
  height: 40px;
  margin-top: -40px;
  padding: 1rem;
  text-align: center;
}


.footer2{
  position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   text-align: center;
}
